        code {
            background-color: #1a1a1a;
            color: #0f0;
            padding: 2px 4px;
            border: 1px solid #0f0;
            border-radius: 3px;
        }

        .donate-banner {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        
        .donation-text {
            font-size: 18px;
            margin: 5px 0;
        }
        
        .donate-button {
            background-color: #0f0;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
            margin: 5px;
            font-family: 'Book Antiqua', serif; 
        }
        
        .donate-button:hover {
            background-color: #090;
        }
        
        .donate-button::before {
            content: "\1F4D6 "; 
            font-size: 18px;
            margin-right: 5px;
        }
        
